﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Result.aspx.vb" Inherits="Result" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Successful Validation</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblMsgTXNID" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
